.ui-alert
{
    background-color: #F2DEDE;
    width:100%;
    padding:20px;
    margin-bottom: 20px;
    margin-top: 20px;

}

.ui-alert-title
{
    color: #AF4341;
    font-weight: bold;
    font-size:26px;
}

.ui-alert-message
{
    color: #AF4341;
    font-size:20px;
}

.ui-accordion{
    width:100%;
    heigth:50px;
    color:red;
    border: 5px solid black;
    background-color: yellow;
}

.ui-accordion-title{
    color:blue;
}

.ui-accordion-content{
    color:green;
}