<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <select 
                    id="selBestPlayer"
                    class="form-control" 
                    ng-model="selectedPlayer" 
                    ng-change="validateFormVoteBestPlayer()"
                    ng-options="player as player.name for player in bestPlayers">
                    <option value="">Who do you think is the best player ever?</option>
                </select>
                <p></p>
                <input 
                    type="submit"
                    class="btn btn-primary btn-block"
                    ng-click="bestPlayerVote(selectedPlayer)"
                    ng-disabled="!validFormVoteBestPlayer"
                    value="Submit"
                    />
            </div>
        </form>
    </div>
</div>
<p>
    player selected: {{ selectedPlayer}}
</p>