<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <th>
                        Multiplier
                    </th>
                    <th>
                        Competitions
                    </th>
                </tr>
                <tr ng-repeat="level in levels">
                    <td>
                        {{ level.weight}}
                    </td>
                    <td>
                        <div ng-repeat="competition in level.competitions">
                            {{ competition}}
                        </div> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>