<div class="row">
    <div class="col-md-12">
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">Player - Most Goals</div>
                <div class="panel-body">Panel Content</div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">Player - Most Trophies</div>
                <div class="panel-body">Panel Content</div>
            </div>
        </div>
    </div>
</div>