<div ng-include="'view/panels.html'"></div>
<div ng-include="'view/accordions.html'"></div>
<div ng-include="'view/errorContentNotLoaded.html'"></div>

<!-- ----------------------------------------------------------------------- -->

<div ng-controller="playerController">
    <div class="row">
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <select 
                        id="selBestPlayer"
                        class="form-control" 
                        ng-model="selectedPlayer" 
                        ng-change="validateFormVoteBestPlayer()"
                        ng-options="player as player.name for player in bestPlayers">
                        <option value="">Who do you think is the best player ever?</option>
                    </select>
                    <p></p>
                    <input 
                        type="submit"
                        class="btn btn-primary btn-block"
                        ng-click="bestPlayerVote(selectedPlayer)"
                        ng-disabled="!validFormVoteBestPlayer"
                        value="Submit"
                        />
                </div>
            </form>
        </div>
    </div>
    <p>
        player selected: {{ selectedPlayer}}
    </p>
</div>

<!-- ----------------------------------------------------------------------- -->
{{ userInputBestPlayerMissing}}
<div class="row">
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label class="form-control">
                    Which player do you think should be on the previous list?
                </label>
                <input 
                    type="text"
                    ng-model="userInputBestPlayerMissing"
                    class="form-control" 
                    name="userInputBestPlayerMissing"
                    ui-best-player-missing/>
                <p></p>
                <input
                    class="btn btn-primary btn-block"
                    type="submit"
                    value="Submit"/>
            </div>
        </form>
    </div>
</div>

<!-- ----------------------------------------------------------------------- -->

<div class="row">
    <div class="col-md-12">
        <div ng-controller="playerController">
            <div ng-controller="competitionController">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-info">
                            <p>Sort Type: {{ sortType}}</p>
                            <p>Sort Reverse: {{ sortReverse}}</p>
                        </div>
                    </div>
                </div>

                <table class="table table-bordered table-inverse">
                    <tr >
                        <th rowspan="2">
                    <div>
                        <a href="" ng-click="sortByField('name')">
                            Name
                            <span 
                                ng-show="sortType == 'name' && !sortReverse"
                                class="glyphicon glyphicon-chevron-down"></span>
                            <span 
                                ng-show="sortType == 'name' && sortReverse == true"
                                class="glyphicon glyphicon-chevron-up">
                            </span>
                        </a>
                    </div>
                    </th>
                    <th rowspan="2">
                        Active
                    </th>
                    <th colspan="10">
                        Multiplier
                    </th>

                    <th rowspan="2">
                        <a href="">
                            Total
                        </a>
                    </th>
                    <th rowspan="2">
                        <a href="" ng-click="sortByField('totalWeighted')">
                            Total Weighted
                        </a>
                    </th>
                    </tr>

                    <tr>
                        <th ng-repeat="level in levels">
                    <div class="">
                        <span class="badge">
                            {{ level.weight}} 
                        </span>
                    </div>
                    </th>
                    </tr>

                    <tbody>
                        <tr ng-repeat="player in topScorers| orderBy: sortType: sortReverse">
                            <td>
                                {{ player.name | name}}
                            </td>   
                            <td>
                                <span ng-if="player.active" class="glyphicon glyphicon-ok">
                                </span>
                            </td>
                            <td ng-repeat="level in levels">
                                {{ getPlayerGoalsByCode(player, level.code)}}
                            </td>
                            <td> 
                                {{ getPlayerTotalGoals(player)}} 
                            </td>
                            <td> 
                                {{ getPlayerWeightedTotalGoals(player.name)}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<hr>

<!-- ----------------------------------------------------------------------- -->

<div class="row">
    <div class="col-md-12">
        <div ng-controller="competitionController">
            <table class="table table-bordered">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            Multiplier
                        </th>
                        <th>
                            Competitions
                        </th>
                    </tr>
                    <tr ng-repeat="level in levels">
                        <td>
                            {{ level.weight}}
                        </td>
                        <td>
                            <div ng-repeat="competition in level.competitions">
                                {{ competition}}
                            </div> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

